body{
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size: 50px;
}
span{
color: rgb(108, 218, 108);
}
.section-type{
   display: flex;
   float: left;
   margin-bottom: 100PX;
}
.half-width{
    width: 50%;
    margin: 40px;
}
.half-width img{
    width: 65%;
}
a{
    text-decoration: none;
    color: white;
background-image: linear-gradient(rgb(123, 123, 218),rgb(235, 227, 212));
    padding: 10px 40px;
}
a:hover{
    background-color: red;
}

