body{
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size: 50px;
}
span{
color: rgb(108, 218, 108);
}
.section-type{
   display: flex;
   width: 80%;
   margin: 0 auto;
}
.half-width{
    width: 50%;
    margin:50px;
}
.half-width img{
    width: 65%;
}
a{
    text-decoration: none;
    border-radius: 5px;
    color: white;
background-color: coral;
    padding: 10px 40px;
}
.section2{
    text-align: center;
    margin-top: 70px;
}